.wave{
    /* width: 100%; */
    position: absolute;
    bottom: -100px;
    align-self: flex-start;
    opacity: 0.3;
    animation: move_wave 30s linear infinite;
    z-index: 0;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}